/* =======================================================
==========================================================
================== Global Css ============================
==========================================================
======================================================== */

section {
    padding-top: 100px;
    padding-bottom: 75px;
}


/* content-pointer */

.cursor-p {
    cursor: pointer;
}


/* --- background --- */

.bg-no-repeat {
    background-repeat: no-repeat;
}

.bg-size-cover {
    background-size: cover;
}

.bg-position-center {
    background-position: center;
}

.bg-attachment-fixed {
    background-attachment: fixed;
}


/* --- height --- */

.h-1 {
    height: .25rem!important;
}

.h-2 {
    height: .5rem!important;
}

.h-3 {
    height: 1rem!important;
}

.h-4 {
    height: 1.5rem!important;
}

.h-5 {
    height: 2rem!important;
}

.h-6 {
    height: 2.5rem!important;
}

.h-7 {
    height: 3rem!important;
}


/* --- Width --- */

.w-1 {
    width: .25rem!important;
}

.w-2 {
    width: .5rem!important;
}

.w-3 {
    width: 1rem!important;
}

.w-4 {
    width: 1.5rem!important;
}

.w-5 {
    width: 2rem!important;
}

.w-6 {
    width: 2.5rem!important;
}

.w-7 {
    width: 3rem!important;
}


/* --- positioning --- */

.top-auto {
    top: auto;
}

.start-auto {
    left: auto;
}

.bottom-auto {
    bottom: auto;
}

.end-auto {
    right: auto;
}


/*-- transform --*/

.transform-translate-y-50 {
    transform: translateY(-50%);
}

l-h-1 {
    line-height: .25!important;
}

.l-h-2 {
    line-height: .5!important;
}

.l-h-3 {
    line-height: 1.25!important;
}

.l-h-4 {
    line-height: 2.5!important;
}

.l-h-5 {
    line-height: 5!important;
}


/* 
.card-hover-visible{
	visibility:hidden;
}
.card:hover .card-hover-visible{
	visibility:visible;	
}
*/

*/